---
name: Build Gem

on: pull_request

permissions:
  contents: read # minimal permissions that we have to grant

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Ruby 2.7
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '2.7'
      - name: Build gem
        run: gem build *.gemspec
